/* CANVASS CSS */

/* DESIGNED FOR SMALL SCREENS FIRST */
/* STYLING FOR MEDIUM AND LARGE SCREENS BELOW IN MEDIA QUERRIES */


/* GENERAL RESETS AND STYLINGS**********************************************************/
*, *:before, *:after {
	/* UNIVERSAL BOX-SIZING - SET WIDTH TO INCLUDE PADDING AND BORDER */
	box-sizing: border-box;
}

body {
	font-size: 1em;
	position: relative;
	text-align: center;
	background: black;
}

html,
body {
	height: 100%;
}

html,
body,
header,
section,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
q,
em,
cite,
span,
footer {
	margin: 0;
	padding: 0
}

a {
	text-decoration: none;
	font-weight: bold;
	font-size: 1.1em;
	color: rgb(125,0,0);
	outline: none;
	-webkit-transition-duration: .5s;transition-duration: .5s;
	/* MORE ANCHOR STYLINGS BELOW IN SECTIONS */
}

a:active, a:focus, a:hover {
	color: rgb(200,0,0);
	-webkit-transition-duration: .5s;transition-duration: .5s;
}

p {
	color: rgb(50,50,50);
	cursor: default;
}

q {
	display: block;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: italic;
	color: rgb(150,0,0);
	width: 95%;
	max-width: 700px;
	margin: 10px auto;
	padding: 10px;
	border-radius: 2.5px;
	cursor: default;
}

q span {
	color: rgb(75,0,0);
}

q:active, q:focus, q:hover {
	background: rgba(255,255,255,0.4);
	box-shadow: 5px 5px 5px rgba(0,0,0,0.2), -5px 5px 5px rgba(0,0,0,0.2);
	-webkit-transition-duration: .5s;transition-duration: .5s;
}

cite {
	font-style: normal;
	padding: 10px;
	margin-top: 15px;
	cursor: default;
}

cite span {
	color: rgb(150,0,0);
}

hr {
	width: 90%;
	max-width: 1000px;
	border-radius: 50%;
}
/* END GENERAL *********************************/


/* HEADER ************************************/
header {
	position: relative;
}

header h1 {
	font-family: 'MedievalSharp', cursive;
	font-style: italic;
	font-size: 2.1em;
	color: ivory;
}

header h1 span {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 1.2em;
	color: white;
}

.subTitle {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 1.25em;
	margin: 100px auto 50px;
}
/* END HEADER ***********************/


/* INTRO SECTION **********************************************************/
.introH1 {
	font-family: 'MedievalSharp', cursive;
	font-size: 3.5em;
	color: ivory;
	margin: 40px auto auto;
}

.introH11 {
	
}

.introH12 {
	text-indent: 45px;
}

.introP {
	font-family: 'Macondo Swash Caps', cursive;
	font-size: 1.5em;
	color: ivory;
	margin: 25px auto;
	opacity: 0;
	-webkit-animation: pFadeIn 2.5s ease-in forwards;animation: pFadeIn 2.5s ease-in forwards;
}

@-webkit-keyframes pFadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes pFadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

.introP1 {
	margin-left: -125px;
}

.introP2 {
	margin-left: -40px;
}

#introDiv img {
	position: absolute;
	left: 50%;
	margin-left: -125px;
	margin-top: 5px;
	width: 60px;
	height: 60px;
	border: 7.5px solid white;
	border-radius: 50%;
}

#noDiv {
	display: none;
}

.noP {
	font-family: 'Macondo Swash Caps', cursive;
	font-size: 1.5em;
	color: ivory;
	margin: 35px auto;
}
/* END INTRO SECTION **************/


/* INSTRUCTION SECTION *************************************/
#instructionDiv {
	display: none;
}

#instructionDiv h1 {
	font-family: 'Macondo Swash Caps', cursive;
	font-style: italic;
	font-size: 4em;
	color: ivory;
	padding-top: 25px;
	/* color: ivory; */
}

#instructionDiv h1 span {
	font-family: 'MedievalSharp', cursive;
	font-size: 1.2em;
}

#instructionDiv h2 {
	font-family: 'MedievalSharp', cursive;
	color: rgb(200,15,15);
}

.instructionP {
	font-family: 'Macondo Swash Caps', cursive;
	font-size: 1.25em;
	line-height: 30px;
	color: ivory;
	margin: 15px auto;
	padding-left: 10px;
	padding-right: 10px;
}
/* END INSTRUCTION SECTION ***********/


/* I CHING COINS, HEXAGRAM, AND READING ***********************************/
#mainDiv {
	position: relative;
	opacity: 0;
	display: none;
}

@-webkit-keyframes hexFade {
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes hexFade {
	from { opacity: 0; }
	to { opacity: 1; }
}

/* COINS */
#coinHexWrap {
	background: rgb(255,255,250);
	width: 100%;
	height: 200px;
	max-width: 250px;
	min-width: 250px;
	margin: 15px auto;
	border-radius: 2.5px;
}

.coinWrap {
	display: inline-block;
	width: 75px;
	height: 75px;
	margin: -20px auto 0px;
	background: url('../img/longFlip.png');
	background-size: 1900px 65px;
	background-repeat: no-repeat;
}

@-webkit-keyframes coinSpin {
	from { background-position: 0px; }
	to { background-position: -1825px; }
}
@keyframes coinSpin {
	from { background-position: 0px; }
	to { background-position: -1825px; }
}

@-webkit-keyframes coinFlip {
	0% { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
	55% { -webkit-transform: translate(0px, -124px); transform: translate(0px, -124px); }
	56% { -webkit-transform: translate(0px, -125px); transform: translate(0px, -125px); }
	58% { -webkit-transform: translate(0px, -124px); transform: translate(0px, -124px); }
	100% { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
}
@keyframes coinFlip {
	0% { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
	55% { -webkit-transform: translate(0px, -124px); transform: translate(0px, -124px); }
	56% { -webkit-transform: translate(0px, -125px); transform: translate(0px, -125px); }
	58% { -webkit-transform: translate(0px, -124px); transform: translate(0px, -124px); }
	100% { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
}

/* HEXAGRAM */
#hex {
	display: block;
	text-align: center;
	line-height: 30px;
	width: 150px;
	height: 150px;
	margin: 0px auto;
	padding-top: 5px;
}

#hex h3 {
	text-align: left;
	font-size: .1em;
	width: 100%;
	height: 17.5px;
	margin: 7.5px auto;
}

/* BUTTONS */
#buttonWrap {
	width: 100%;
	max-width: 250px;
	margin: auto auto 5px;
}

button {
	display: block;
	font-family: 'Macondo Swash Caps', cursive;
	font-size: 1.275em;
	width: 100%;
	max-width: 250px;
	margin: auto auto 15px;
	padding: 5px;
	background: rgb(255,255,240);
	border: 1px solid white;
	border-bottom: 1px solid darkgrey;
	border-radius: 2.5px;
	cursor: pointer;
	-webkit-transition-duration: .5s;transition-duration: .5s;
	z-index: 999;
}

button:active, button:focus, button:hover {
	color: rgb(200,15,15);
	box-shadow: 2px 2px 0px rgb(200,200,200);
}

button:disabled {
	color: rgba(200,200,200,0.7);
	background: rgba(50,50,50,0.5) !important;
	box-shadow: none;
	border: 1px solid white;
	border-bottom: 1px solid darkgrey;
	cursor: default;
}

/* HEXAGRAM DETAILS */
#hexInfoWrap {
	position: absolute;
	display: none;
	top: -15px;
	right: 0px;
	left: 0px;
	height: auto;
	padding-bottom: 75px;
	background: rgb(255,255,240);
	z-index: 9;
}

#hexInfo {
	display: none;
	width: 100%;
	padding-bottom: 50px;
	background-position: center top !important;
	z-index: 9;
}

#hexIcon {
	font-size: 2.5em;
	margin: 10px auto;
}

#hexInfo h1 {
	font-family: 'MedievalSharp', cursive;
	display: inline;
	margin: 5px auto 25px;
}

#hexNumber {
	color: rgb(175,15,15);
}

#hexInfo p {
	font-family: 'Macondo Swash Caps', cursive;
	font-size: 1.25em;
	width: 90%;
	max-width: 550px;
	margin: 10px auto 25px;
	line-height: 35px;
}

#hexInfo p:nth-of-type(1) {
	font-weight: bold;
}

#keyWords {
	font-weight: normal;
	font-style: italic;
}

#hexInfo p:nth-of-type(2) {
	font-weight: bold;
}

#description {
	line-height: 35px;
	font-weight: normal;
}

#hexAnchor {
	font-family: 'Macondo Swash Caps', cursive;
	font-size: 2em;
	width: 250px;
	background: white;
	margin: 10px auto 15px;
	padding: 4px;
	padding-right: 50px;
	padding-left: 50px;
	border-bottom: 1px solid lightgrey;
}

#hexInfo cite {
	font-family: 'Macondo Swash Caps', cursive;
	margin-top: 35px;
	line-height: 30px;
}

#closeHexInfo {
	color: white;
	font-size: 2em;
	height: 48px;
	background: black;
	margin: 10px auto 15px;
}

#closeHexInfo:active, #closeHexInfo:focus, #closeHexInfo:hover {
	color: rgb(175,15,15);
	box-shadow: none;
	border: 1px solid white;
	border-bottom: 1px solid darkgrey;
}
/* END I CHING COINS, HEXAGRAMS, AND INFO SECTION ****************************/


/* INFO SECTION *********************************/
#infoDiv {
	position: absolute;
	display: none;
	top: -25px;
	left: 0px;
	right: 0px;
	height: 100%;
	display: none;
	background: white;
	z-index: 99;
}

#infoDiv h1 {
	font-family: 'Macondo Swash Caps', cursive;
	font-style: italic;
	font-size: 4em;
	padding-top: 25px;
}

#infoDiv h1 span {
	font-family: 'MedievalSharp', cursive;
	font-size: 1.2em;
}

#yyShadow {
	width: 225px;
	height: 50px;
	margin: -20px auto auto;
	background: radial-gradient(rgba(0,0,0,0.7), transparent, transparent, transparent);
	border-radius: 50%;
}

.infoP {
	font-family: 'Macondo Swash Caps', cursive;
	font-size: 1.1em;
	line-height: 30px;
	margin: 15px auto;
	padding-left: 10px;
	padding-right: 10px;
}
/* END INFO SECTION ***********/


/* FOOTER ***********************/
footer {
	padding-top: 15px;
	background: black;
}

#footerInfo {
	width: 50px;
	margin: auto auto 10px;
	cursor: pointer;
}

#footerInfo p {
	font-family: 'Macondo Swash Caps', cursive;
	font-size: 1.25em;
	color: ivory;
	cursor: pointer;
}

#footerInfo:hover > p {
	color: rgb(200,15,15);
}

footer img {
	width: 25px;
	height: 25px;
}

footer p {
	font-family: "Arial Black", Gadget, sans-serif;
	color: rgba(200,200,200,0.7);
	font-size: .9em;
	line-height: 20px;
}
/* END FOOTER ***********************/


/* MEDIA QUERYS */
/* LANDSCAPE AND MEDIUM SCREENS */
@media screen and (min-width: 460px) {
	#mainDiv {
		min-height: 225px;
	}
	
	#coinHexWrap {
		position: absolute;
		top: 10px;
		left: 50%;
		margin-left: -252px;
	}
	
	#buttonWrap {
		position: absolute;
		top: 25px;
		left: 50%;
		margin-left: 2px;
	}
	
	button {
		height: 39px;
	}
}

/* LARGER SCREENS */
@media screen and (min-width: 900px) {
	#mainDiv {
		padding-top: 100px;
	}
	
	#coinHexWrap {
		max-width: 500px;
		height: 420px;
		top: 100px;
		margin-left: -400px;
	}
	
	#hex {
		line-height: 30px;
		width: 250px;
		height: 250px;
		margin: 20px auto auto;
		padding-top: 5px;
	}

	#hex h3 {
		height: 25px;
		margin: 15px auto;
	}
	
	#allCoinWrap {
		position: absolute;
		top: 350px;
		margin-top: 0px;
		margin-left: 135px;
	}
	
	#buttonWrap {
		top: 115px;
		margin-left: 150px;
	}
	
	button {
		font-size: 1.5em;
		margin: auto auto 25px;
	}
	
	#hexInfoWrap {
		top: 50px;
		right: 50px;
		left: 50px;
		border-radius: 2.5px;
	}
	
	#hexInfo {
		margin-top: -10px;
	}
	
	#hexInfo p {
		font-size: 1.5em;
		line-height: 40px;
	}
	
	footer {
		position: absolute;
		top: 360px;
		width: 252px;
		left: 50%;
		margin-left: 150px;
		color: rgba(200,200,200,0.7);
		background: rgba(50,50,50,0.5);
		padding-left: 5px;
		padding-right: 5px;
		border-radius: 2.5px;
	}
}